<launch>
  <!-- Robot model to match with that of Gazebo or the physical robot -->
    <arg name="model" default="nexus.urdf" />
    <arg name="world" default="roomsimulation.world"/> 
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>
  <!-- spawn world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="$(find nexus_control)/worlds/$(arg world)"/>
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
    args="-urdf -model rubot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <!-- More arguments -->
  <arg name="multi_robot_name" default=""/>
  <arg name="map_file" default="$(find nexus_slam)/maps/Testhabitacion_map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

   <!-- spawn nexus -->
  <param name="robot_description" textfile="$(find nexus_mecanum)/urdf/$(arg model)" />
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- AMCL -->
  <include file="$(find nexus_slam)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find nexus_slam)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find nexus_slam)/rviz/navigation.rviz"/>
  </group>
</launch>
